.container {
  padding-bottom: 50px;
  width: 400px;
  margin: 200px auto;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  border: rgb(62, 62, 62) solid 1px;
}

.opt-container {
  display: flex;
  height: 32px;
  width: 30%;
  margin: 50px auto;
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  justify-content: space-evenly;
  align-items: center;
}

.opt-container > button {
  color: white;
  background: none;
  border: none;
  transition: text-shadow .25s ease-in-out;
}

.opt-container > button:first-child {
  text-shadow: 0 0 .5em #fff;
}

.opt-container > button:hover {
  text-shadow: 0 0 .5em #fff;
}

.login-form, .signup-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.input, .submit {
  width: 80%;
  height: 35px;
  color: white;
  transition: background-color .25s ease-in-out;
}

.input {
  margin-bottom: 30px;
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  padding-left: 10px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus
{
  background-color: rgb(54, 60, 73);
}

.input:focus {
  outline: none;
  background-color: rgb(40, 40, 40);
}

.submit {
  width: 83%;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 101, 199);
}

.submit:hover {
  background-color: rgb(46, 110, 217);
}

.submit:active {
  background-color: rgb(29, 74, 144);
}

.signup-form {
  display: none;
}
