<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no,
  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% if route == 'gif' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gif.css') }}">
    <title>UBulletin' - GIF</title>
  {% elif route == 'index' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>UBulletin' - Home</title>
  {% elif route == 'login' or route == 'signup' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Account - Login</title>
  {% endif %}
</head>
<body>
  <div class="bg"></div>
  <header>
    <a href="{{ url_for('index') }}" class="tab site-name">
      <div>
        <img src="../static/images/logo.png" style="height: 15px;">
        Bulletin'
      </div>
    </a>
    <a href="{{ url_for('index') }}" class="tab">
      <div class="tab-icon">
        <img src="../static/images/home.png">
      </div>
    </a>
    <a href="{{ url_for('gif') }}" class="tab">
      <div class="tab-icon">
        GIF
      </div>
    </a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}" class="tab right-tabs">
        <div class="tab-icon">
          Logout
        </div>
      </a>
    {% endif %}
    <a href="{{ url_for('login') }}" class="tab right-tabs">
      <div class="tab-icon login-tab">
        <img src="../static/images/defaultuser.png" title="{{ current_user.username }}">
        {% if current_user.is_authenticated %}
          &nbsp;&nbsp;{{ current_user.username }}
        {% else %}
          &nbsp;&nbsp;Login
        {% endif %}
      </div>
    </a>
    <a href="#" class="tab right-tabs">
      <div class="tab-icon">
        <img src="../static/images/no_off.png">
      </div>
    </a>
    <a href="#" class="tab right-tabs">
      <div class="tab-icon">
        <img src="../static/images/no_on.png">
      </div>
    </a>
  </header>
  {% block content %}{% endblock %}
  {% if route == 'login' or route == 'signup' %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  {% endif %}
</body>
</html>
